.side-bar
  %Header
    .top-items
      .top-items__name 
        = current_user.name
      .top-items__icons 
        = link_to "#", class: "Contents__btn Contents__btn--edit" do
          =icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "Contents__btn Contents__btn--system" do
          =icon('fas', 'cog')
  .side-bar__list
    .side-bar__group-list
      %p.side-bar__group-name techcamp
      %p.side-bar__message まだメッセージはありません
    .side-bar__group-list
      %p.side-bar__group-name techcamp
      %p.side-bar__message まだメッセージはありません
    .side-bar__group-list
      %p.side-bar__group-name techcamp
      %p.side-bar__message まだメッセージはありません
    .side-bar__group-list
      %p.side-bar__group-name techcamp
      %p.side-bar__message まだメッセージはありません
    
